/* William Dunn - 10/15/20 */
/*-- last updated 9/10/21 */

body {
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
}

/* Header - ////////////////////////////////////////////////// */

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height:10vh;
    margin-top: 2%;
    margin-bottom: -5%;
    letter-spacing: 10px;
    font: "Courier New", Courier;
    text-transform: uppercase;
    background: -webkit-linear-gradient(white, #1f1f1f);
    background: -moz-linear-gradient(white, #1f1f1f);
    background: -ms-linear-gradient(white, #1f1f1f);
    background: -o-linear-gradient(white, #1f1f1f);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
}

/* Parent Div - //////////////////////////////////////////////// */

#MAIN {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:80vh;
}

/* CHILD DIV 1 - Image //////////////////////////////////////// */

#logo {
    float: left;
    width: 24%;
    height: 75%;
    text-align: right;
    margin-top: 4%;
    margin-right: 7%;
    margin-left: 13%;
}

img {
    height: 100%;
    width: auto;
    object-fit: contain;
    opacity: 0.97;
}

/* CHILD DIV 2 - Text ///////////////////////////////////////// */

#introduction {
    float: left;
    width: 44%;
    height: 70%;
    margin-right: 13%;
    margin-top: 1.7%;
}

#tidBit {
    float: right;
    width: 94%;
}

#numberEffect {
    float: left;
    width: 6%;
}

pre {
    font: "Courier New", Courier;
    font-size: 16px;
    font-size: 2.2vh;
    line-height: 1.2em;

    color: #ffffff;
    opacity: 1;
}

pre.numbers {
    color: #797979;
    opacity: .8;
}

#commentMark {
    color: #5c5e58;
    background-color: #1a1a1a;
}

#variableMark{
    color: #d76d3a;
    background-color: #1a1a1a;
}

#stringValueMark{
    color: #18a264;
    background-color: #1a1a1a;
}

#intValueMark{
    color: #1d75ac;
    background-color: #1a1a1a;
}

#objectMark{
    color: #dc9727;
    background-color: #1a1a1a;
}

#methodMark{
    color: #a7ec21;
    background-color: #1a1a1a;
}

/* cursor effect */
#cursor {
    background: orange;
    opacity: 0.4;
    line-height: 17px;
    margin-left: 3px;
    -webkit-animation: blink 1.2s infinite;
    -moz-animation: blink 1.2s infinite;
    -ms-animation: blink 1.2s infinite;
    -o-animation: blink 1.2s infinite;
    width: 2px;
    height: 2.1vh;
}
  
@-webkit-keyframes blink {
    0% {background: #1a1a1a}
    50% {background: whitesmoke}
    50% {background: #1a1a1a}
}

@-moz-keyframes blink {
    0% {background: #1a1a1a}
    50% {background: whitesmoke}
    50% {background: #1a1a1a}
}
      
@-ms-keyframes blink {
    0% {background: #1a1a1a}
    50% {background: whitesmoke}
    50% {background: #1a1a1a}
}
    
@-o-keyframes blink {
    0% {background: #1a1a1a}
    50% {background: whitesmoke}
    50% {background: #1a1a1a}
}
  #lastLine {
      color: whitesmoke;
      opacity: 0.7;
  }

/* Bottom Half of Page ///////////////////////////////////////// */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

/* Social Media Icons */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left; 
}

li a {
    display: block;
    color: white;
    opacity: 0.46;
    padding: 10px;
  }

.fab {
    padding: 20px;
    font-size: 4vh;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

  .fab:hover {
    opacity: 0.5;
}

.fas {
    padding: 20px;
    font-size: 4vh;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fas:hover {
    opacity: 0.5;
}

/* Responsive Design /////////////////////////////////////////// */

@media (max-aspect-ratio: 3/2) {
    #logo {
        display: none;
    }

    #introduction {
        float: none;
        width: 50%;
        height: 60%;
    }
}

@media (max-width: 600px) {
    #MAIN {
        display: none;
    }

    h1{
        display: none;
    }

    footer {
        height: 100vh;
    }
    
    ul {
        margin-right: 12px;
    }

    li {
        float: none;
    }

    li a {
        opacity: 9;
    }

    .fab {
        padding: 41px;
        font-size: 8vh;
    }

    .fas {
        padding: 41px;
        font-size: 8vh;
        margin-left: 3px;
    }
}
